<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <title>Mi Calculadora</title>
  </head>
  <body>
    <br>
    <h2 class="text-center">Web Developer Urian Viera</h2>
    <hr>
    <br>

    <div class="container">
      <h5 class="text-center color">Mi Calculadora en Angular 9</h5>
    <br><br>
    <br>
    
      <div class="row">
        <div class="col"> </div>
        <div class="col-2">
          <label for="cantidadone">Cantidad 1</label>
          <input [(ngModel)]="cantidadone" type="number" class="form-control">
        </div>
        <div class="col-2">
          <label for="cantidadtwo">Cantidad 2</label>
          <input [(ngModel)]="cantidadtwo" type="number" class="form-control">
        </div>
        <div class="col"> </div>
        <br><br>
        <br><br>
    
        
        <button (click)="multiplication()" class="btn btn-primary btn-block">Multiplicar</button>
      </div>
    
      <br><br>

      <h5 id="operation">Suma: </h5> <p> ( {{ cantidadone }} + {{ cantidadtwo }} ) = <strong>{{cantidadone + cantidadtwo}}</strong></p>
      <h5 id="operation">Resta: </h5><p> ( {{ cantidadone }} - {{ cantidadtwo }} ) = <strong>{{cantidadone - cantidadtwo}}</strong></p>
  

      <p style="text-align: center;" *ngIf="resultado >0">El Resultado de la multiplicación es: <strong>{{resultado}}</strong></p>
    
    
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  </body>
</html>